src/catalogo_libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libro" type="tipoLibro"/>
  <xs:element name="titulo" type="tipoNombre"/>
  <xs:element name="autor" type="tipoNombre"/>
  <xs:element name="editor" type="tipoNombre"/>
  <xs:element name="mes" type="tipoMes"/>
  <xs:element name="anyo" type="tipoAnyo"/>
  <xs:element name="ISBN" type="tipoISBN"/>

  <xs:element name="catalogoLibros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="tipoLibro">
      <xs:sequence>
        <xs:element name="titulo"/>
        <xs:element name="autor" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="fecha"/>
        <xs:element name="ISBN"/>
        <xs:element name="editor"/>
      </xs:sequence>
      <xs:attribute name="categoria" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="autobiografia"/>
            <xs:enumeration value="noficcion"/>
            <xs:enumeration value="ficcion"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enstock" type="xs:boolean" default="false"/>
      <xs:attribute name="revisor" type="xs:string" default=""/>
    </xs:complexType>

    <xs:simpleType name="tipoNombre">
      <xs:restriction base="xs:string">
        <xs:minLength value="0"/>
        <xs:maxLength value="100"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoMes">
      <xs:restriction base="xs:positiveInteger">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="12"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoAnyo">
      <xs:restriction base="xs:positiveInteger">
        <xs:minInclusive value="1900"/>
        <xs:maxInclusive value="2011"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:element name="fecha">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="mes" minOccurs="0" maxOccurs="1"/>
          <xs:element name="anyo"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:simpleType name="tipoISBN">
      <xs:restriction base="xs:string">
        <xs:minLength value="13"/>
        <xs:maxLength value="17"/>
      </xs:restriction>
    </xs:simpleType>

</xs:schema>