src/informe_ventas.dtd

<!ELEMENT informe (cabecera,datos)>
<!ELEMENT cabecera (titulo,subtitulo,descripcion,fecha)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT subtitulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT datos (Region)*>
<!ELEMENT Region (trimestre)*>
<!ATTLIST Region
    region (Norte|Centro|Sur) #REQUIRED>
<!ELEMENT trimestre EMPTY>
<!ATTLIST trimestre
        trim (1|2|3|4) #REQUIRED
        vendidos CDATA "NO_INFO">
