src/nacimiento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona" type="tipoPersona"/>
  <xs:element name="comentario" type="xs:string"/>

  <xs:complexType name="tipoPersona">
    <xs:sequence>
      <xs:element type="info" name="datos"/>
      <xs:element name="comentario" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:date" name="nacimiento"/>
  </xs:complexType>

  <xs:complexType name="info">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellidos"/>
      <xs:element type="xs:string" name="dni"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>