src/nota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nota" type="tipoNota"/>
  <xs:complexType name="tipoNota">
    <xs:sequence>
      <xs:element type="xs:string" name="para"/>
      <xs:element type="xs:string" name="de"/>
      <xs:element type="xs:string" name="titulo"/>
      <xs:element type="xs:string" name="contenido"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>