src/vehiculo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehiculos" type="tipoVehiculos"/>

  <xs:complexType name="TipoVehiculo">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="modelo"/>
      <xs:element type="tipoFabricacion" name="fabricacion"/>
      <xs:element type="tipoModificaciones" name="modificaciones"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoVehiculos">
    <xs:sequence>
      <xs:element type="TipoVehiculo" name="vehiculo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name = "dia" type = "xs:string"/>
  <xs:element name = "mes" type = "xs:string"/>
  <xs:element name = "ano" type = "xs:string"/>

  <xs:complexType name="tipoInicio">
    <xs:sequence>
      <xs:element name="dia"/>
      <xs:element name="mes"/>
      <xs:element name="anyo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoFin">
    <xs:sequence>
      <xs:element name="dia"/>
      <xs:element name="mes"/>
      <xs:element name="anyo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoFabricacion">
    <xs:sequence>
      <xs:element type="tipoInicio" name="inicio"/>
      <xs:element type="tipoFin" name="fin"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipoModificaciones">
    <xs:sequence>
      <xs:element name="modificacion" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Change Engine"/>
            <xs:enumeration value="Change pedals"/>
            <xs:enumeration value="Change gearbox"/>
            <xs:enumeration value="Fit Rollcage"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>